/* universal seletor */
*{
    background-color: antiquewhite;
}

/* element selector  */
p{
    font-size: 30px;
}

/* id selector  */
#demo{
    font-style: italic;
    font-size: 40px;
}

/* Class selector  */
.sample{
 border: 2px solid black;
}